<div class="container">
    <h6 class="speaker-title">
        Speakers
    </h6>
    <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3 justify-content-center">
        <div class="speaker">
            <img src="../../../assets/images/womenspeaker.jpg" class="shadow" alt="" srcset="">
            <h6>
              Madam Speaker Lorem
            </h6>
        </div>

        <div class="speaker">
            <img src="../../../assets/images/womenspeaker.jpg" class="shadow" alt="" srcset="">
            <h6>
              Madam Speaker Lorem
            </h6>
        </div>

        <div class="speaker">
            <img src="../../../assets/images/womenspeaker.jpg" class="shadow" alt="" srcset="">
            <h6>
              Madam Speaker Lorem
            </h6>
        </div>

        <div class="speaker">
            <img src="../../../assets/images/womenspeaker.jpg" class="shadow" alt="" srcset="">
            <h6>
              Madam Speaker Lorem
            </h6>
        </div>
    </div>
</div>
