<div class="container">
    <h6 class="speaker-title">
        Speakers
    </h6>
    <div class="row row-cols-4 justify-content-center">
        <div class="col speaker">
            <img src="../../../assets/images/womenspeaker.jpg" class="shadow" alt="" srcset="">
            <h6>
              Madam Speaker Lorem
            </h6>
        </div>

        <div class="col speaker">
            <img src="../../../assets/images/womenspeaker.jpg" class="shadow" alt="" srcset="">
            <h6>
              Madam Speaker Lorem
            </h6>
        </div>

        <div class="col speaker">
            <img src="../../../assets/images/womenspeaker.jpg" class="shadow" alt="" srcset="">
            <h6>
              Madam Speaker Lorem
            </h6>
        </div>

        <div class="col speaker">
            <img src="../../../assets/images/womenspeaker.jpg" class="shadow" alt="" srcset="">
            <h6>
              Madam Speaker Lorem
            </h6>
        </div>
    </div>
</div>
