<div class="container text-center cat-main">
    <h2 class="primary">Categories</h2>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 category">
      <div class="col">
        <div class="p-3 cat">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 cat">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 cat">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 cat">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 cat">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 cat">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 cat">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 cat">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 cat">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 cat">Row column</div>
      </div>
    </div>  
  </div>


  <div class="container-fluid text-center cat-main">

    <h2 class="primary">Categories</h2>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 category" gallerize>
        <img *ngFor="let img of imageData" [src]="img.srcUrl" class="img-thumbnail" alt="...">
    </div>  

  </div>