<div class="container castom-publication">
    <div class="row ben-card margin_both">
        <h6 class="tile_head">ABOUT</h6>
            <p class="m-1">
                You need a Strong Digital Brand to be taken seriously. 
                The society judges your personality and character by what you post on social media. 
            </p>
    </div>

    <div class="row ben-card margin_one">
        <h6 class="tile_head">WHY</h6>
            <ol class="list-group list-group-flush m-1 ">
                <li class="list-group-item">
                    We help you create a good professional personal digital brand that will 
                    help in establishing your identity, building trust and credibility, enhance your career prospects, 
                    networking, and future-proofing your career. Good Personal brand can help you create opportunities 
                    for growth and success in your personal and professional life.
                </li>
            </ol>
    </div>
</div>
