<div class="container">
    <div class="row ben-card margin_both">
        <h6 class="speaker-title">ABOUT</h6>
        <div class="col about">
            <p class="m-1">
                Using our ex tensive capability in technology and applications, we develop customized services that serve our diverse 
                client base with complex communication needs.
                Our growth strategy includes initiatives related to ongoing new service in troduc tions,
                geographic market expansion, broadening our customer base and targeting strategic business to business 
                relationships that add company value
            </p>
        </div>
    </div>

    <div class="row ben-card margin_one">
        <div class="col why">
            <ol class="list-group list-group-flush m-1 ">
                <h6 class="speaker-title">WHY</h6>
                <li class="list-group-item">Increased reach: Digital channels allow companies to reach a wider audience than traditional forms of marketing, such as television or print ads.</li>
                <li class="list-group-item">Cost-effective: Digital branding is often less expensive than traditional forms of advertising.</li>
                <li class="list-group-item">Targeted marketing: Digital channels allow companies to target specific demographics and reach the right audience.</li>
                <li class="list-group-item">Interaction with customers: Digital channels allow companies to interact with customers in real-time and receive instant feedback. </li>
                <li class="list-group-item">Measurable results: Digital branding efforts can be easily tracked and measured through analytics, allowing companies to see the impact of their efforts and make adjustments as needed.</li>
                <li class="list-group-item">Building reputation: By building a strong digital brand, it helps a company to establish credibility and build a reputation as a reliable and trustworthy business.</li>
                <li class="list-group-item">Creating loyal customers: Building a strong digital brand can help a company create loyal customers who are more likely to recommend the business to others and make repeat purchases.</li>
            </ol>
        </div>
    </div>
</div>
