<div id="sliders" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner carousel-inner-mag">
<!-- slider  -->
      <div class="carousel-item  carousel-item-mag active">
        <!-- Shows various infomation related to slides -->
                <div class="position-absolute top-50 start-50 translate-middle slidertxtmag">
                    <h1>
                        Bussiness Magazine
                    </h1>
                </div>

                <div class="bslogo position-absolute bottom-0 end-0">
                    <img class="BGimg" src="../../../assets/logos/Asset 3.png" alt="" srcset="" >
                </div>
        <!-- Shows various infomation related to slides -->
<!-- ======================================================================================= -->
                <!-- change into a suitable image -->
                <img src="../../../assets/images/img-1.jpg" class="d-block w-100 BGimg" alt="...">
                <!-- change into a suitable image -->
      </div>

      
    </div>

  </div>