<div id="sliders" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner carousel-inner-mag">
<!-- slider  -->
      <div class="carousel-item active">
        <div class="global_overlay"></div>
                <div class="position-absolute top-50 start-50 translate-middle slidertxtmag">
                    <h1>
                        Bussiness Magazine
                       <br> more details about the magazine 
                    </h1>
                </div>
                <div class="bslogo position-absolute bottom-0 end-0">
                   <img loading="lazy"  class="BGimg" src="../../../assets/logos/Asset 3.png" alt="Bulb interactive logo"  >
                </div>
<!-- ======================================================================================= -->
                <!-- change into a suitable image -->
               <img loading="lazy"  src="../../../assets/images/mag_banner.jpg" class="d-block w-100 img" alt="...">
                <!-- change into a suitable image -->
      </div>

      
    </div>
  </div>