<div class="container">
    <div class="row" style="padding: 50px;">
        <h6 class="speaker-title">
            ABOUT BULB TV
        </h6>
        <div class="col about">
            <p class="m-1">
                Using our extensive capability in technology and applications, we develop customized services that serve our diverse 
                client base with complex communication needs.
                Our growth strategy includes initiatives related to ongoing new service introductions,
                geographic market expansion, broadening our customer base and targeting strategic business to business 
                relationships that add company value
            </p>
        </div>
    </div>
</div>
