<div class="container mt-2">
<!-- story we should 
1. Why Exibit
2. Why Sponsor
add a button to prompt to an email
Add previous events testmonials with the link to the video -->
    <article class="blog-post">
        <div class="blog-post_img">
            <img src="../../../assets/images/Decor-venue-3.jpg" alt="Bulb decor poster for the Event">
        </div>
        <div class="blog-post_info">
            <div class="blog-post_date">
                <span>Friday</span>
            </div>
            <h2 class="blog-post_title">About the Event</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ullam eum accusantium excepturi minima nam unde, fugit obcaecati minus asperiores rem sit fuga commodi magnam maiores molestiae, ut nihil quaerat!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut alias excepturi consequuntur necessitatibus? Facere atque impedit odio blanditiis delectus tempora sed voluptatibus ea, nulla corrupti inventore eligendi consequatur praesentium. Ipsam?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam necessitatibus laboriosam, deleniti velit ex culpa impedit minus reiciendis iure consequatur eaque magni harum maiores magnam quam tempore ratione, earum nostrum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quisquam aliquam nesciunt asperiores voluptates deserunt. Sunt corporis neque, molestias voluptas perspiciatis repellendus eligendi eveniet ut, explicabo officiis eaque voluptatem! Excepturi.
            </p>
            <a href="#" class="blog-post_cta">Learn more</a>
        </div>
    </article>

</div>
