<div class="container mt-2">
<!-- story we should 
1. Why Exibit
2. Why Sponsor
add a button to prompt to an email
Add previous events testmonials with the link to the video -->
    <article class="blog-post">
        <div class="blog-post_img">
            <img src="../../../assets/images/meet.jpg" alt="Bulb decor poster for the Event">
        </div>
        <div class="blog-post_info">
            <div class="blog-post_date">
                <span>Learn more about our upcoming event</span>
            </div>
            <h2 class="blog-post_title">About the Event</h2>

            <h3>Why Sponsor</h3>
            <p>
                As a sponsor of premier Business Networking Forum, your brand gains inequitable visibility as a Market leader.
                Exhibitions play a huge role in marketing your products and service.
                In addition to saving on costs, you get to interact directly with your target market and increase your brand awareness.
                Secure new business opportunities and stamp your authority as an industry leader.
                Become a recognised partner that drives sustainable investment avenues in your sector.
                Gain visibility on all advertising and marketing avenues of the exhibition.
                Increase awareness of your brand and educate the target market at a deeper level.
                Gain maximum benefits with prime showcases at the event venue via prime booths.
                Position your company or brand to be innovative and reliable.
                Exclusive networking opportunities.
                Opportunities to deliver keynote addresses at the event. 
            </p>
            <h3>Why Exibit</h3>  
                <ol>
                    <li><p>Meet affluent prospects looking for the products/services to buy 1</p></li>
                    <li><p>Increase your brand / product / service awareness</p></li>
                    <li><p>Make instant sales on the floor.</p></li>
                    <li><p>Gather data to increase your prospecting database. </p></li>
                </ol>
            <a href="#" class="blog-post_cta">Learn more</a>
        </div>
    </article>


        <div class="event-slider margin_one">
          <h2 class="head">See what we've <br> done before</h2>
            <div class="row">
                <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel"
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)"
                        >
                    <div ngxSlickItem class="event"  *ngFor="let blog of blogs">
                                <img [src]="blog.image" alt="">
                            <div class="overlay">
                                <span class="badge text-bg-primary">Past Events</span>
                                <h2>The name of this event</h2>
                                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                    Asperiores deserunt, voluptate odit fugiat sunt consectetur 
                                    nisi maiores iste, nam tenetur distinctio sit ducimus obcaecati
                                    cumque perspiciatis laudantium repellendus officiis commodi.
                                </p>
                                <button type="button" class="btn btn-secondary btnEdit">Learn More</button>
                            </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
</div>
