<app-countdown *ngIf="mainEvent" [futureDate]="mainEvent.acf?.date_held" [title]="mainEvent.title?.rendered"></app-countdown>
<div class="container events">
    <div class="row row-cols-1 row-cols-md-2 all-events">
        <div class="col-sm-12 col-md-5">
            <div class="main-event" *ngIf="mainEvent">
                <img *ngIf="mainEvent.acf?.event?.url" [src]="mainEvent.acf?.event?.sizes?.medium_large" alt="">
                <div class="overlay">
                    <span class="badge text-bg-primary">Upcoming Events</span>
                    <h2>{{ mainEvent.title?.rendered }}</h2>
                    <p>Register to attend<span>{{ mainEvent.acf?.date_held }}</span></p>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-7 other-events">
            <div class="row row-cols-2 row-cols-lg-3 g-2">
                <div class="col" *ngFor="let event of upcomingEvents | slice:1:9">
                    <div class="upcoming-event">
                        <img [src]="event.acf?.event?.sizes?.large" alt="">
                        <div class="overlay">
                            <span class="badge text-bg-primary">Date Held: {{ event.acf?.date_held | date:'mediumDate' }}</span>
                            <h2>{{ event.title?.rendered }}</h2>
                            <p>{{ event.acf?.event_introduction | slice:0:200 }}...</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partnership events -->

<div class="container">
    <div class="event-slider">
        <div class="story-head">
            <h2 class="head">Past Events</h2>
            <div class="cst-btn">
                <button (click)="slickModal.slickPrev()"> <i class="fa-solid fa-chevron-left"></i> </button>
                <button (click)="slickModal.slickNext()"> <i class="fa-solid fa-chevron-right"></i> </button>
            </div>
        </div>
        <div class="row">
            <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel"
                    [config]="slideConfig">
                <div ngxSlickItem class="event col" *ngFor="let event of pastEvents">
                    <img *ngIf="event.acf?.event?.url" [src]="event.acf?.event?.sizes?.medium_large"  alt="">
                    <div class="overlay">
                        <span class="badge text-bg-primary">Past Events</span>
                        <h2>{{ event.title?.rendered }}</h2>
                        <p>{{ event.acf?.event_introduction | slice:0:200 }} ...</p>
                        <p>Date Held: {{ event.acf?.date_held | date:'mediumDate' }}</p>
                        <button type="button" class="btn btn-secondary btnEdit" (click)="openEvent(event.id)">Learn More</button>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>
