<div class="container news">
    <div class="news-head">
        <h1>Recent Headlines</h1>
    </div>
    <div class="row headline">
        <div class="col main" *ngIf="news.length > 0">
            <img *ngIf="news[0]?.acf?.Featured_image?.url" [src]="news[0]?.acf?.Featured_image?.url" alt="">
            <h2>{{ news[0]?.title?.rendered }} </h2>
            <p [innerHTML]="preview(news[0]?.content?.rendered) + ' ...'"></p>
            <span>{{ news[0]?.acf?.date_published }}</span>
        </div>
        <div class="col sec">
            <div class="row">
                <div class="col-12">
                    <div class="highlight">
                        <img src="../../../assets/images/mag(soon).jpg" alt="">
                        <div>
                            <h3>FDA approves nation’s first over-the-counter birth control pill</h3>
                            <span>July 13, 2023</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="highlight">
                        <img src="../../../assets/images/mag(soon).jpg" alt="">
                        <div>
                            <h3>FDA approves nation’s first over-the-counter birth control pill</h3>
                            <span>July 13, 2023</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="highlight">
                        <img src="../../../assets/images/mag(soon).jpg" alt="">
                        <div>
                            <h3>FDA approves nation’s first over-the-counter birth control pill</h3>
                            <span>July 13, 2023</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="highlight">
                        <img src="../../../assets/images/mag(soon).jpg" alt="">
                        <div>
                            <h3>FDA approves nation’s first over-the-counter birth control pill</h3>
                            <span>July 13, 2023</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="highlight">
                        <img src="../../../assets/images/mag(soon).jpg" alt="">
                        <div>
                            <h3>FDA approves nation’s first over-the-counter birth control pill</h3>
                            <span>July 13, 2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="solid">
    <div class="news-head">
        <h1>Recent Events</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 tabs">
        <div class="col">
            <img src="../../../assets/images/link(2).jpg" alt="">
            <h4>Food scraps attract bugs.
                How to keep your waste
                bin safe to open</h4>
            <span>July 17, 2023</span>
        </div>
        <div class="col">
            <img src="../../../assets/images/link(2).jpg" alt="">
            <h4>Food scraps attract bugs.
                How to keep your waste
                bin safe to open</h4>
            <span>July 17, 2023</span>
        </div>
        <div class="col">
            <img src="../../../assets/images/link(2).jpg" alt="">
            <h4>Food scraps attract bugs.
                How to keep your waste
                bin safe to open</h4>
            <span>July 17, 2023</span>
        </div>
        <div class="col">
            <img src="../../../assets/images/link(2).jpg" alt="">
            <h4>Food scraps attract bugs.
                How to keep your waste
                bin safe to open</h4>
            <span>July 17, 2023</span>
        </div>
        <div class="col">
            <img src="../../../assets/images/link(2).jpg" alt="">
            <h4>Food scraps attract bugs.
                How to keep your waste
                bin safe to open</h4>
            <span>July 17, 2023</span>
        </div>
    </div>
</div>
