<div class="container margin_one">
    <div class="par">
        <h6>OUR PARTNERS</h6>
        <p>Bulb Interactive has been honored to partner up with these clients</p>
    </div>
    <div class="slider">
        <div class="slide-track" #sliderElement>
            <div class="slide">
               <img loading="lazy"  src="../../../assets/svgs/logo1.jpg" alt="partner logo" />
            </div>
            <div class="slide">
               <img loading="lazy"  src="../../../assets/svgs/logo2.jpg" alt="partner logo" />
            </div>
        </div>
    </div>
</div>