
.slider {
	height: 100px;
	margin: auto;
	position: relative;
	width: auto;
	.slide-track {
		display: flex;
	}
	.slide {
		height: 90px;
		margin: 10px;
		img{
			height: 80px;
            width: 240px;
            object-fit: contain;			
		}
	}
}
