<div class="container mt-5 mb-5" data-aos="fade-in" data-aos-duration="2600">
    <div class="par">
        <h6>OUR PARTNERS</h6>
        <p>Bulb Interactive has been honored to partner up with these clients</p>
    </div>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="../../../assets/svgs/logo1.jpg" alt="partner logo" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo2.jpg" alt="partner logo" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo3.jpg" alt="partner logo" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo4.jpg" alt="partner logo" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo5.jpg" alt="partner logo" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo6.jpg" alt="partner logo" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo7.jpg" alt="partner logo" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo8.jpg" alt="partner logo" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo9.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo10.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo31.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo12.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo13.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo14.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/svgs/logo15.jpg" alt="" />
            </div>
        </div>
    </div>
</div>