<div class="container margin_both">
    <h2 class="tile_head">Latest videos</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 g-lg-3">
        <div class="col">
            <div class="tile_video">
                <div class="tile_media_video">
                  <iframe class="object-fit-cover video-slider tile__img" width="100%" height="100%" src="https://www.youtube.com/embed/o-daKy-Oj5I" title="Bulb Interactive Events" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="tile_video">
                <div class="tile_media_video">
                  <iframe class="object-fit-cover video-slider tile__img" width="100%" height="100%" src="https://www.youtube.com/embed/4CHUJUL_daE" title="Bulb Interactive Events" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="tile_video">
                <div class="tile_media_video">
                  <iframe class="object-fit-cover video-slider tile__img" width="100%" height="100%" src="https://www.youtube.com/embed/tiQBNU-tLMY" title="Bulb Interactive Events" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="tile_video">
                <div class="tile_media_video">
                  <iframe class="object-fit-cover video-slider tile__img" width="100%" height="100%" src="https://www.youtube.com/embed/cAzqcQn9D0g" title="Bulb Interactive Events" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="tile_video">
                <div class="tile_media_video">
                  <iframe class="object-fit-cover video-slider tile__img" width="100%" height="100%" src="https://www.youtube.com/embed/-cG1FkIuR-g" title="Bulb Interactive Events" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="tile_video">
                <div class="tile_media_video">
                  <iframe class="object-fit-cover video-slider tile__img" width="100%" height="100%" src="https://www.youtube.com/embed/HCUb5kU63D8" title="Bulb Interactive Events" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
        </div>
                    <div class="btn-group m-4 col" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-secondary btnEdit shadow"><span>Filter</span></button>
                        <button type="button" class="btn btn-secondary btnEdit shadow" (click)="filterSelection('tech')">Tech</button>
                        <button type="button" class="btn btn-secondary btnEdit shadow" (click)="filterSelection('design')">Design</button>
                        <button type="button" class="btn btn-secondary btnEdit shadow" (click)="filterSelection('networking')">Networking</button>
                    </div>
                    <div class="col-6"></div>
        <!-- show all videos -->
            <div class="col" *ngFor="let item of filteredItems">
              <div *ngIf="loading" class="spinner-border text-secondary" role="status"></div>
                <div class="tile_video">
                    <div class="tile_media_video">
                    <iframe class="object-fit-cover video-slider tile__img" width="100%" height="100%" [src]="getSafeUrl(item.source)" title="Bulb Interactive Events" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        <!-- show all videos -->
    </div>
</div>
 <!-- the magazine should open in the same page  -->
