<div class="blog-banner position-relative">
    <div class="col-lg-9 col-md-12 col-sm-12 position-absolute top-50 start-50 translate-middle">
        <h2 class="text-wrap">{{ blog.title }}</h2>
        <p>{{ blog.date }}</p>
    </div>
    <img src="../../../assets/images/counter.jpg" alt="blur image of people looking at a computer">
</div>
<div class="container">
    <div class="blog-content">
        <div>
            <img [src]="blog.image" alt="{{ blog.title }} Blog Image">
            <p>{{ blog.content }}</p>
        </div>
    </div>
</div>

<div >
    <img  />
    <div class="content">
      <!-- Display the full blog post content here -->
      
    </div>
  </div>
  