<div class="countdown position-relative">
    <div class="col-lg-9 col-md-12 col-sm-12 position-absolute top-50 start-50 translate-middle">
        <h2 class="text-wrap">{{ blog.title }}</h2>
    </div>
    <img src="../../../assets/images/counter.jpg" alt="blur image of people looking at a computer">
</div>
<div class="blog-post">
    <img [src]="blog.image" alt="Blog Image" />
    <div class="content">
      <!-- Display the full blog post content here -->
      {{ blog.content }}
    </div>
  </div>
  