<div class="container-fluid mt-2 position-relative">
    <div class="d-flex flex-column mb-3 position-absolute socials">
        <div class="p-1">
            <a href="">
                <img src="../../../assets/svgs/social1.png" alt="">
            </a>
        </div>
        <div class="p-1">
            <a href="">
                <img src="../../../assets/svgs/social2.png" alt="">
            </a>
        </div>
        <div class="p-1">
            <a href="">
                <img src="../../../assets/svgs/social3.png" alt="">
            </a>
        </div>
        <div class="p-1">
            <a href="">
                <img src="../../../assets/svgs/social4.png" alt="">
            </a>
        </div>
        <div class="p-1">
            <a href="">
                <img src="../../../assets/svgs/social5.png" alt="">
            </a>
        </div>
    </div>
    <div class="row row-left">

        <div class="col-sm col-md-6 col-lg-3 mt-1">
                <div class="card col">
                    <img src="../../../assets/images/Slider.png" class="card-img-top" alt="...">
                    <div class="link-title">
                      <h5>Bulb Magazine</h5>
                    </div>
                    <div class="overlay">
                        <div class="text-desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel culpa autem et sed exercitationem fugiat dolore, ipsum nesciunt dicta, minima voluptates maiores? Odio alias vel ipsa quidem ipsam laudantium? Voluptatum.
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-sm col-md-6 col-lg-3 mt-1">
            <div class="card col">
                <img src="../../../assets/images/Slider.png" class="card-img-top" alt="...">
                <div class="link-title">
                  <h5>Bulb Magazine</h5>
                </div>
                <div class="overlay">
                    <div class="text-desc">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel culpa autem et sed exercitationem fugiat dolore, ipsum nesciunt dicta, minima voluptates maiores? Odio alias vel ipsa quidem ipsam laudantium? Voluptatum.
                    </div>
                </div>
            </div>
    </div>
    
    
    <div class="col-sm col-md-6 col-lg-3 mt-1">
        <div class="card col">
            <img src="../../../assets/images/Slider.png" class="card-img-top" alt="...">
            <div class="link-title">
              <h5>Bulb Magazine</h5>
            </div>
            <div class="overlay">
                <div class="text-desc">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel culpa autem et sed exercitationem fugiat dolore, ipsum nesciunt dicta, minima voluptates maiores? Odio alias vel ipsa quidem ipsam laudantium? Voluptatum.
                </div>
            </div>
        </div>
</div>


<div class="col-sm col-md-6 col-lg-3 mt-1">
    <div class="card col">
        <img src="../../../assets/images/Slider.png" class="card-img-top" alt="...">
        <div class="link-title">
          <h5>Bulb Magazine</h5>
        </div>
        <div class="overlay">
            <div class="text-desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel culpa autem et sed exercitationem fugiat dolore, ipsum nesciunt dicta, minima voluptates maiores? Odio alias vel ipsa quidem ipsam laudantium? Voluptatum.
            </div>
        </div>
    </div>
</div>

    </div>
</div>
