<div class="container-fluid mt-2 position-relative">
    <div class="d-flex flex-column mb-3 position-absolute socials">
        <div class="p-1">
            <a href="https://www.instagram.com/bulb.group/" target="_blank">
                <img src="../../../assets/svgs/social2.png" alt="link to instagram">
            </a>
        </div>
        <div class="p-1">
            <a href="https://youtube.com/@BulbBusinessTv" target="_blank">
                <img src="../../../assets/svgs/social3.png" alt="Bulb bussiness youtube TV">
            </a>
        </div>
        <div class="p-1">
            <a href="https://web.facebook.com/bulbinteractive?_rdc=5&_rdr" target="_blank">
                <img src="../../../assets/svgs/social4.png" alt="icon to facebook">
            </a>
        </div>
        <div class="p-1">
            <a href="https://twitter.com/BulbInteractive" target="_blank">
                <img src="../../../assets/svgs/social5.png" alt="Link to twitter">
            </a>
        </div>
    </div>
    <div class="row row-left row-cols-1 row-cols-md-3 row-cols-lg-5">

        <div class="col mt-1">
            <a href="">
                <div class="card col">
                    <img src="../../../assets/images/magaz.webp" class="card-img-top lnk" alt="...">
                    <div class="link-title">
                      <h5>Bulb Magazine</h5>
                    </div>
                    <div class="overlay">
                        <div class="text-desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel culpa autem et sed exercitationem fugiat dolore, ipsum nesciunt dicta, minima voluptates maiores? Odio alias vel ipsa quidem ipsam laudantium? Voluptatum.
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mt-1">
            <a href="">
                <div class="card col">
                    <img src="../../../assets/images/event.webp" class="card-img-top lnk" alt="...">
                    <div class="link-title">
                      <h5>Events</h5>
                    </div>
                    <div class="overlay">
                        <div class="text-desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel culpa autem et sed exercitationem fugiat dolore, ipsum nesciunt dicta, minima voluptates maiores? Odio alias vel ipsa quidem ipsam laudantium? Voluptatum.
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mt-1">
            <a href="">
                <div class="card col">
                    <img src="../../../assets/images/gallery.webp" class="card-img-top lnk" alt="...">
                    <div class="link-title">
                      <h5>Video Gallery</h5>
                    </div>
                    <div class="overlay">
                        <div class="text-desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel culpa autem et sed exercitationem fugiat dolore, ipsum nesciunt dicta, minima voluptates maiores? Odio alias vel ipsa quidem ipsam laudantium? Voluptatum.
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mt-1">
            <a href="">
                <div class="card col">
                    <img src="../../../assets/images/branding.webp" class="card-img-top lnk" alt="...">
                    <div class="link-title">
                      <h5>Digital Branding</h5>
                    </div>
                    <div class="overlay">
                        <div class="text-desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel culpa autem et sed exercitationem fugiat dolore, ipsum nesciunt dicta, minima voluptates maiores? Odio alias vel ipsa quidem ipsam laudantium? Voluptatum.
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
