
<div class="container position-relative margin_both ">

<app-socials></app-socials>

    <div class="justify-content-between row row-left row-cols-1 row-cols-md-3 row-cols-lg-5 links">
        <div class="col mt-1" data-aos="fade-up" data-aos-duration="2900">
            <a routerLink="/events">
                <div class="card col">
                    <img src="../../../assets/images/link(1).jpg" class="card-img-top lnk" alt="...">
                    <div class="link-title">
                      <h5>Events</h5>
                    </div>
                    <div class="overlay">
                        <div class="text-desc">
                            Events are important in business networking because 
                            they allow professionals to meet, connect, and
                            exchange ideas, whether in person or virtually.
                            Get the latest information on Our Events                      
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col mt-1" data-aos="fade-up" data-aos-duration="3000">
            <a routerLink="/magazine">
                <div class="card col">
                    <img src="../../../assets/images/mag(1).jpg" class="card-img-top lnk" alt="...">
                    <div class="link-title">
                      <h5>Bulb Magazine</h5>
                    </div>
                    <div class="overlay">
                        <div class="text-desc">
                            Business networking is still an important part of starting and growing a
                            successful company, with in-person and virtual networking events allowing
                            professionals to connect, exchange ideas, and form partnerships. 
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col mt-1" data-aos="fade-up" data-aos-duration="2800">
            <a  routerLink="/videos">
                <div class="card col">
                    <img src="../../../assets/images/link(2).jpg" class="card-img-top lnk" alt="...">
                    <div class="link-title">
                      <h5>Bulb TV</h5>
                    </div>
                    <div class="overlay">
                        <div class="text-desc">
                            You can get details and insights on the kinds of professionals 
                            and organizations that have previously participated in the gallery 
                            section of our website showing prior events, where you can find 
                            information on potential business networking prospects.
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mt-1" data-aos="fade-up" data-aos-duration="2700">
            <a routerLink="/branding">
                <div class="card col">
                    <img src="../../../assets/images/link(3).jpg" class="card-img-top lnk" alt="...">
                    <div class="link-title">
                      <h5>Personal Digital Branding</h5>
                    </div>
                    <div class="overlay">
                        <div class="text-desc">
                            Learn more about how we can assist your company in building
                             a strong online presence through various digital marketing
                             tactics such as social media marketing, search engine
                             optimization, content marketing, and website design and development 
                             by visiting the digital branding part of our website.
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mt-1" data-aos="fade-up" data-aos-duration="2600">
            <a href="">
                <div class="card col">
                    <img src="../../../assets/images/link(4).jpg" class="card-img-top lnk" alt="...">
                    <div class="link-title">
                      <h5>Bulb Awards</h5>
                    </div>
                    <div class="overlay">
                        <div class="text-desc">
                            We offer the Bulb Interactive Awards during our events to celebrate and recognize 
                            individuals and organizations for their outstanding achievements and significant
                            contributions to their respective fields.
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
