<div class="d-flex flex-column mb-3 position-absolute socials">
    <div class="p-1">
        <a href="https://www.instagram.com/bulb.group/" target="_blank">
            <img src="../../../assets/svgs/social2.png" alt="link to instagram">
        </a>
    </div>
    <div class="p-1">
        <a href="https://youtube.com/@BulbBusinessTv" target="_blank">
            <img src="../../../assets/svgs/social3.png" alt="Bulb bussiness youtube TV">
        </a>
    </div>
    <div class="p-1">
        <a href="https://web.facebook.com/bulbinteractive?_rdc=5&_rdr" target="_blank">
            <img src="../../../assets/svgs/social4.png" alt="icon to facebook">
        </a>
    </div>
    <div class="p-1">
        <a href="https://twitter.com/BulbInteractive" target="_blank">
            <img src="../../../assets/svgs/social5.png" alt="Link to twitter">
        </a>
    </div>
    <div class="p-1">
        <a href="https://twitter.com/BulbInteractive" target="_blank">
            <img src="../../../assets/svgs/social7.png" alt="Link to linkedin">
        </a>
    </div>
    <div class="p-1">
        <a href="https://twitter.com/BulbInteractive" target="_blank">
            <img src="../../../assets/svgs/social6.png" alt="Link to Tiktok">
        </a>
    </div>
</div>

<!-- A video explainer 
change  social media to floating
also add linked in and tiktok
Any register Now should be buy Ticket -->