<div id="sliders" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#sliders" data-bs-slide-to="0" class="indicators active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#sliders" data-bs-slide-to="1"class="indicators" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#sliders" data-bs-slide-to="2" class="indicators" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#sliders" data-bs-slide-to="3" class="indicators" aria-label="Slide 4"></button>

    </div>
<!-- tablet view to be smaller
the mobile view to be  landscape or square
arrangements ...  evnts, maga, bulbTv, personal digital branding, Bulb Awards 
-->
    <div class="carousel-inner home">
<!-- sliders  -->

      <div class="carousel-item active">
            <div class="position-absolute top-50 start-50 translate-middle slidertxt">
                <div class="col-12">
                    <h1 class="text-center">
                        Join Bulb Interactive <br> Connect with Professionals and <br> Be Part of the Celebration of Excellence. 
                       <h2>Register Now for Our Upcoming Event!</h2> 
                    </h1>
                </div>
                <div class="col d-flex justify-content-center sliderbtn">
                    <app-ticket></app-ticket>
                </div>
            </div>
            <div class="d-flex align-items-end bslogo position-absolute bottom-0 end-0">
                <h5> Network . Promote . Sell . Collaborate .</h5>
                <img class="BGimg" src="../../../assets/logos/Asset 3.png" alt="" srcset="" >
            </div>
                <img src="../../../assets/images/banner.webp" class="w-100 web" alt="...">
      </div>

      <div class="carousel-item">
            <div class="d-flex align-items-end bslogo position-absolute bottom-0 end-0">
                <h5> Network . Promote . Sell . Collaborate .</h5>
                <img class="BGimg" src="../../../assets/logos/Asset 3.png" alt="" srcset="" >
            </div>

                <img src="../../../assets/images/banner_1.webp" class="w-100 web" alt="...">
      </div>

      <div class="carousel-item">
        <div class="position-absolute top-50 start-2 translate-middle-y slidertxt" style="width: 45%;">
            <div class="col-12">
                <h1 class="text-left">
                    Attend Our Premier Sector Based Networking Events for business growth
                </h1>
            </div>
            <div class="col d-flex justify-content-start sliderbtn">
                <app-ticket></app-ticket>
            </div>
        </div>
        <div class="d-flex align-items-end bslogo position-absolute bottom-0 end-0">
            <h5> Network . Promote . Sell . Collaborate .</h5>
            <img class="BGimg" src="../../../assets/logos/Asset 3.png" alt="" srcset="" >
        </div>

            <img src="../../../assets/images/banner_2.webp" class="w-100 web" alt="...">
      </div>

      <div class="carousel-item">
        <div class="position-absolute top-50 start-50 translate-middle slidertxt">
            <div class="col-12">
                <h1 class="text-center">
                    Attend Our Premier Sector Based <br> Networking Events for business growth
                </h1>
            </div>
            <div class="col d-flex justify-content-center sliderbtn">
                <app-ticket></app-ticket>
            </div>
        </div>
        <div class="d-flex align-items-end bslogo position-absolute bottom-0 end-0">
            <h5> Network . Promote . Sell . Collaborate .</h5>
            <img class="BGimg" src="../../../assets/logos/Asset 3.png" alt="" srcset="" >
        </div>

            <img src="../../../assets/images/banner_3.webp" class="w-100 web" alt="...">
  </div>
<!-- Slider -->
    </div>

  </div>