<div id="sliders" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#sliders" data-bs-slide-to="0" class="indicators active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#sliders" data-bs-slide-to="1"class="indicators" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#sliders" data-bs-slide-to="2" class="indicators" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
<!-- slider  -->
      <div class="carousel-item active">
            <!-- Shows various infomation related to slides -->

            <div class="position-absolute top-50 start-2 translate-middle-y slidertxt">
                <div class="col-12">
                    <h1>
                        We’ve got everything you need to position and grow your business
                    </h1>
                </div>
                <div class="sliderbtn col-12">
                    <button type="link" class="btn btn-secondary btnEdit shadow">Register Now
                        <svg width="21" height="16" viewBox="0 0 31 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.95001 1.98291H6.72751C6.72751 1.98291 7.29118 4.18833 7.65234 5.60146C8.374 8.42512 9.36517 12.3032 9.94667 14.5785C10.2278 15.6783 11.333 16.4571 12.609 16.4571H24.3301C25.6097 16.4571 26.7175 15.6717 26.995 14.5681L29.25 5.60146L8.09251 5.60146M14.235 22.488C14.235 23.1542 13.6239 23.6942 12.87 23.6942C12.1161 23.6942 11.505 23.1542 11.505 22.488C11.505 21.8218 12.1161 21.2818 12.87 21.2818C13.6239 21.2818 14.235 21.8218 14.235 22.488ZM25.155 22.488C25.155 23.1542 24.5439 23.6942 23.79 23.6942C23.0361 23.6942 22.425 23.1542 22.425 22.488C22.425 21.8218 23.0361 21.2818 23.79 21.2818C24.5439 21.2818 25.155 21.8218 25.155 22.488Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>


        <div class="bslogo position-absolute bottom-0 end-0">
            <img class="BGimg" src="../../../assets/logos/Asset 3.png" alt="" srcset="" >
        </div>
        <!-- change into a suitable image -->

        <img src="../../../assets/images/Slider.png" class="d-block w-100 BGimg" alt="...">

         <!-- change into a suitable image -->
      </div>
<!-- Slider -->
    </div>

  </div>