<div class="featured-carousel margin_one">
    <div class="container">
      <h2>LATEST VIDEOS</h2>    
      <div class="row row-left mt-2">
        <div class="row__inner">
          <div class="tile">
            <div class="tile__media">
              <video class="object-fit-cover video-slider tile__img" width="100%" loop controls>
                <source src="https://res.cloudinary.com/dei7juemq/video/upload/v1677935510/bulb/yt1s.com_-_balanty_portada_1080p_ztnupg.mp4" type="video/mp4">
              </video>
              <div class="tile__title">
                Top Gear
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <video class="object-fit-cover video-slider tile__img" width="100%" loop controls> 
                <source src="https://res.cloudinary.com/dei7juemq/video/upload/v1677935510/bulb/yt1s.com_-_balanty_portada_1080p_ztnupg.mp4" type="video/mp4">
              </video>
              <div class="tile__title">
                Top Gear
              </div>
            </div>
          </div>


          <div class="tile">
            <div class="tile__media">
              <video class="object-fit-cover video-slider tile__img" width="100%" loop controls> 
                <source src="https://res.cloudinary.com/dei7juemq/video/upload/v1677935510/bulb/yt1s.com_-_balanty_portada_1080p_ztnupg.mp4" type="video/mp4">
              </video>
              <div class="tile__title">
                Top Gear
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <video class="object-fit-cover video-slider tile__img" width="100%" loop controls> 
                <source src="https://res.cloudinary.com/dei7juemq/video/upload/v1677935510/bulb/yt1s.com_-_balanty_portada_1080p_ztnupg.mp4" type="video/mp4">
              </video>
              <div class="tile__title">
                Top Gear
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <video class="object-fit-cover video-slider tile__img" width="100%" loop controls> 
                <source src="https://res.cloudinary.com/dei7juemq/video/upload/v1677935510/bulb/yt1s.com_-_balanty_portada_1080p_ztnupg.mp4" type="video/mp4">
              </video>
              <div class="tile__title">
                Top Gear
              </div>
            </div>
          </div>


          <div class="tile">
            <div class="tile__media">
              <video class="object-fit-cover video-slider tile__img" width="100%" loop controls> 
                <source src="https://res.cloudinary.com/dei7juemq/video/upload/v1677935510/bulb/yt1s.com_-_balanty_portada_1080p_ztnupg.mp4" type="video/mp4">
              </video>
              <div class="tile__title">
                Top Gear
              </div>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%" src="https://www.youtube.com/embed/AIOAlaACuv4" title="Tracy Chapman - Fast Car (Official Music Video)" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
              <div class="tile__title">
                Top Gear
              </div>

            </div>


          </div>

        </div>
      </div>
    
      </div>
</div>