<div class="featured-carousel margin_one">
    <div class="container">
      <h2 class="tile_head">LATEST VIDEOS</h2>    
      <div class="row mt-2">
        <div class="row__inner">
          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%" src="https://www.youtube.com/embed/o-daKy-Oj5I" title="Bulb Interactive Events" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%" src="https://www.youtube.com/embed/4CHUJUL_daE" title="Bulb Interactive Events" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>


          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%"  src="https://www.youtube.com/embed/tiQBNU-tLMY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%"  src="https://www.youtube.com/embed/cAzqcQn9D0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%"  src="https://www.youtube.com/embed/E-ut6YXCcSs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              
            </div>
          </div>


          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%"  src="https://www.youtube.com/embed/-cG1FkIuR-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%"  src="https://www.youtube.com/embed/HCUb5kU63D8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%"  src="https://www.youtube.com/embed/m1kLae3B-xc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%"  src="https://www.youtube.com/embed/Epx0y7PuL1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              
            </div>
          </div>

          <div class="tile">
            <div class="tile__media">
              <iframe class="object-fit-cover video-slider tile__img" width="100%" src="https://www.youtube.com/embed/01pr4sAfveY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>

        </div>
      </div>
    
      </div>
</div>