
<div class="container mt-2">
        <div class="cont">
            <i id="left" class="fa-solid fa-angle-left">\\</i>
            <div class="benslider">
            <img src="../../../assets/images/img-1.jpg" alt="img" draggable="false">
            <img src="../../../assets/images/img-2.jpg" alt="img" draggable="false">
            <img src="../../../assets/images/img-3.jpg" alt="img" draggable="false">
            <img src="../../../assets/images/img-4.jpg" alt="img" draggable="false">
            <img src="../../../assets/images/img-5.jpg" alt="img" draggable="false">
            <img src="../../../assets/images/img-6.jpg" alt="img" draggable="false">
            <img src="../../../assets/images/img-7.jpg" alt="img" draggable="false">
            <img src="../../../assets/images/img-8.jpg" alt="img" draggable="false">
            <img src="../../../assets/images/img-9.jpg" alt="img" draggable="false">
            </div>
            <i id="right" class="fa-solid fa-angle-right"> // </i>

        </div>
</div>