<div id="sliders" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <!-- <button type="button" data-bs-target="#sliders" data-bs-slide-to="0" class="indicators active" aria-current="true" aria-label="Slide 1"></button> -->
    </div>
    
    <div class="carousel-inner video">
      <div class="carousel-item active">
            <!-- Shows various infomation related to slides -->
            <div class="position-absolute top-50 start-3 translate-middle-y slidertxt" data-aos="zoom-in" data-aos-duration="2600">
                <div class="col-8">
                    <h1>We’ve got everything you need to position and grow your business</h1>
                </div>
                <div class="sliderbtn col-12">
                   <app-ticket></app-ticket>
                </div>
            </div>
        <!-- change into a suitable image -->
        <video class="object-fit-cover video-slider" width="100%" autoplay muted loop> 
            <source src="https://res.cloudinary.com/dei7juemq/video/upload/v1677935510/bulb/yt1s.com_-_balanty_portada_1080p_ztnupg.mp4" type="video/mp4">
        </video>
         <!-- change into a suitable image -->
      </div>
    </div>

  </div>
