<div class="container">
    <div class="row">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="featured-img" *ngFor="let product of featuredProducts">
                <img [src]="product.acf.featured_banner.url" alt="{{ product.title.rendered }} image">
            </div>
        </ngx-slick-carousel>
    </div>
    <div class="row">
        <div class="filter">
            <div class="tabs">
                <input type="radio" id="radio-1" name="tabs" />
                <label class="tab" for="radio-1">Upcoming</label>
                <input type="radio" id="radio-2" name="tabs" />
                <label class="tab" for="radio-2">something</label>
                <span class="glider"></span>
            </div>
        </div>
    </div>
    <div class="row row-left row-cols-1 row-cols-md-4">
        <div class="col p-0" *ngFor="let product of products">
            <div class="wrap">
                <div class="cont">
                  <div class="top">
                    <img [src]="product.acf.product_image.url" alt="">
                  </div>
                  <div class="bottom">
                    <div class="left">
                      <div class="details">
                        <h1>{{ product.title.rendered }}</h1>
                        <!-- <p></p> -->
                      </div>
                      <div class="buy"><i class="fa-brands fa-whatsapp"></i></div>
                    </div>
                  </div>
                </div>
                <div class="inside">
                  <div class="icon"><i class="fa-solid fa-info"></i></div>
                  <div class="contents">
                    <div [innerHTML]="product.content.rendered"></div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>