<div class="container">
    <div class="row">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="featured-img">
                <img src="../../../assets/images/sample.jpg" alt="">
            </div>
            <div ngxSlickItem class="featured-img">
                <img src="../../../assets/images/sample.jpg" alt="">
            </div>            <div ngxSlickItem class="featured-img">
                <img src="../../../assets/images/sample.jpg" alt="">
            </div>
        </ngx-slick-carousel>
    </div>
    <div class="row">
        <div class="filter">
            <div class="tabs">
                <input type="radio" id="radio-1" name="tabs" checked />
                <label class="tab" for="radio-1">Upcoming</label>
                <input type="radio" id="radio-2" name="tabs" />
                <label class="tab" for="radio-2">Development</label>
                <input type="radio" id="radio-3" name="tabs" />
                <label class="tab" for="radio-3">Completed</label>
                <input type="radio" id="radio-4" name="tabs" />
                <label class="tab" for="radio-4">Land</label>
                <span class="glider"></span>
            </div>
        </div>
    </div>
    <div class="row row-left row-cols-1 row-cols-md-4">
        <div class="col p-0">
            <div class="wrap">
                <div class="cont">
                  <div class="top">
                    <img src="../../../assets/images/link(2).jpg" alt="">
                  </div>
                  <div class="bottom">
                    <div class="left">
                      <div class="details">
                        <h1>Chair</h1>
                        <p>£250</p>
                      </div>
                      <div class="buy"><i class="fa-brands fa-whatsapp"></i></div>
                    </div>
                  </div>
                </div>
                <div class="inside">
                  <div class="icon"><i class="fa-solid fa-info"></i></div>
                  <div class="contents">
                  </div>
                </div>
              </div>
        </div>
        <div class="col p-0">
            <div class="wrap">
                <div class="cont">
                  <div class="top">
                    <img src="../../../assets/images/link(2).jpg" alt="">
                  </div>
                  <div class="bottom">
                    <div class="left">
                      <div class="details">
                        <h1>Chair</h1>
                        <p>£250</p>
                      </div>
                      <div class="buy"><i class="fa-brands fa-whatsapp"></i></div>
                    </div>
                  </div>
                </div>
                <div class="inside">
                  <div class="icon"><i class="fa-solid fa-info"></i></div>
                  <div class="contents">
                  </div>
                </div>
              </div>
        </div>
        <div class="col p-0">
            <div class="wrap">
                <div class="cont">
                  <div class="top">
                    <img src="../../../assets/images/link(2).jpg" alt="">
                  </div>
                  <div class="bottom">
                    <div class="left">
                      <div class="details">
                        <h1>Chair</h1>
                        <p>£250</p>
                      </div>
                      <div class="buy"><i class="fa-brands fa-whatsapp"></i></div>
                    </div>
                  </div>
                </div>
                <div class="inside">
                  <div class="icon"><i class="fa-solid fa-info"></i></div>
                  <div class="contents">
                  </div>
                </div>
              </div>
        </div>
        <div class="col p-0">
            <div class="wrap">
                <div class="cont">
                  <div class="top">
                    <img src="../../../assets/images/link(2).jpg" alt="">
                  </div>
                  <div class="bottom">
                    <div class="left">
                      <div class="details">
                        <h1>Chair</h1>
                        <p>£250</p>
                      </div>
                      <div class="buy"><i class="fa-brands fa-whatsapp"></i></div>
                    </div>
                  </div>
                </div>
                <div class="inside">
                  <div class="icon"><i class="fa-solid fa-info"></i></div>
                  <div class="contents">
                  </div>
                </div>
              </div>
        </div>
        <div class="col p-0">
            <div class="wrap">
                <div class="cont">
                  <div class="top">
                    <img src="../../../assets/images/link(2).jpg" alt="">
                  </div>
                  <div class="bottom">
                    <div class="left">
                      <div class="details">
                        <h1>Chair</h1>
                        <p>£250</p>
                      </div>
                      <div class="buy"><i class="fa-brands fa-whatsapp"></i></div>
                    </div>
                  </div>
                </div>
                <div class="inside">
                  <div class="icon"><i class="fa-solid fa-info"></i></div>
                  <div class="contents">
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>