<div class="container mt-5 ">
    <div class="row row-cols-1 row-cols-lg-4 g-2 g-lg-3">
        <div class="col">
                <div class="card col">
                     
                    <img src="../../../assets/images/img-2.jpg" class="card-img-top" alt="...">

                    <div class="overlay">
                        <div class="text-desc-mag align-middle">
                            <div class="position-absolute bottom-1 start-50 translate-middle-x d-flex">
                                <a href="" > <i class="fa-solid fa-cloud-arrow-down"></i> </a>
                                <a href=""> <i class="fa-solid fa-share"></i> </a>                                
                            </div>
                        </div>

                    </div>
                </div>
                <div class="link-title-mag">
                    <h5>January Edition</h5>
                </div>
        </div>
        <div class="col">
            <div class="card col">
                 
                <img src="../../../assets/images/img-8.jpg" class="card-img-top" alt="...">

                <div class="overlay">
                    <div class="text-desc-mag align-middle">
                        <div class="position-absolute bottom-1 start-50 translate-middle-x d-flex">
                            <a href="" > <i class="fa-solid fa-cloud-arrow-down"></i> </a>
                            <a href=""> <i class="fa-solid fa-share"></i> </a>                                
                        </div>
                    </div>

                </div>
            </div>
            <div class="link-title-mag">
                <h5>January Edition</h5>
            </div>
    </div>

    <div class="col">
        <div class="card col">
             
            <img src="../../../assets/images/img-7.jpg" class="card-img-top" alt="...">

            <div class="overlay">
                <div class="text-desc-mag align-middle">
                    <div class="position-absolute bottom-1 start-50 translate-middle-x d-flex">
                        <a href="" > <i class="fa-solid fa-cloud-arrow-down"></i> </a>
                        <a href=""> <i class="fa-solid fa-share"></i> </a>                                
                    </div>
                </div>

            </div>
        </div>
        <div class="link-title-mag">
            <h5>January Edition</h5>
        </div>
</div>


<div class="col">
    <div class="card col">
         
        <img src="../../../assets/images/img-6.jpg" class="card-img-top" alt="...">

        <div class="overlay">
            <div class="text-desc-mag align-middle">
                <div class="position-absolute bottom-1 start-50 translate-middle-x d-flex">
                    <a href="" > <i class="fa-solid fa-cloud-arrow-down"></i> </a>
                    <a href=""> <i class="fa-solid fa-share"></i> </a>                                
                </div>
            </div>

        </div>
    </div>
    <div class="link-title-mag">
        <h5>January Edition</h5>
    </div>
</div>


<div class="col">
    <div class="card col">
         
        <img src="../../../assets/images/img-5.jpg" class="card-img-top" alt="...">

        <div class="overlay">
            <div class="text-desc-mag align-middle">
                <div class="position-absolute bottom-1 start-50 translate-middle-x d-flex">
                    <a href="" > <i class="fa-solid fa-cloud-arrow-down"></i> </a>
                    <a href=""> <i class="fa-solid fa-share"></i> </a>                                
                </div>
            </div>

        </div>
    </div>
    <div class="link-title-mag">
        <h5>January Edition</h5>
    </div>
</div>


<div class="col">
    <div class="card col">
         
        <img src="../../../assets/images/img-4.jpg" class="card-img-top" alt="...">

        <div class="overlay">
            <div class="text-desc-mag align-middle">
                <div class="position-absolute bottom-1 start-50 translate-middle-x d-flex">
                    <a href="" > <i class="fa-solid fa-cloud-arrow-down"></i> </a>
                    <a href=""> <i class="fa-solid fa-share"></i> </a>                                
                </div>
            </div>

        </div>
    </div>
    <div class="link-title-mag">
        <h5>January Edition</h5>
    </div>
</div>



<div class="col">
    <div class="card col">
         
        <img src="../../../assets/images/img-3.jpg" class="card-img-top" alt="...">

        <div class="overlay">
            <div class="text-desc-mag align-middle">
                <div class="position-absolute bottom-1 start-50 translate-middle-x d-flex">
                    <a href="" > <i class="fa-solid fa-cloud-arrow-down"></i> </a>
                    <a href=""> <i class="fa-solid fa-share"></i> </a>                                
                </div>
            </div>

        </div>
    </div>
    <div class="link-title-mag">
        <h5>January Edition</h5>
    </div>
</div>


<div class="col">
    <div class="card col">
         
        <img src="../../../assets/images/img-1.jpg" class="card-img-top" alt="...">

        <div class="overlay">
            <div class="text-desc-mag align-middle">
                <div class="position-absolute bottom-1 start-50 translate-middle-x d-flex">
                    <a href="" > <i class="fa-solid fa-cloud-arrow-down"></i> </a>
                    <a href=""> <i class="fa-solid fa-share"></i> </a>                                
                </div>
            </div>

        </div>
    </div>
    <div class="link-title-mag">
        <h5>January Edition</h5>
    </div>
</div>


    </div>
</div>
