<div class="container mt-5 margin_one">
    <div class="row row-cols-1 row-cols-md-4 row-cols-lg-6 g-2 g-lg-3">

     <div class="col mt-1" data-aos="fade-up" data-aos-duration="2700">
            <div class="card col">
                <a href="https://online.fliphtml5.com/bsqkp/ccjb/" target="_blank" rel="noopener noreferrer">
                    <img src="../../../assets/images/mag(1).jpg" class="card-img-top lnk" alt="...">
                </a>
                    <div class="text-desc-mag d-flex justify-content-center">
                        <div class="d-flex">
                            <div>
                                <a type="button" href="../../../assets/PDFs/THE BULB MAGAZINE 23 MOBILE SINGLE PAGE.pdf" download="THE BULB MAGAZINE 23 MOBILE SINGLE PAGE" ><i class="fa-solid fa-cloud-arrow-down"></i> </a>
                            </div>

                            <div class="dropup">
                                <a type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-share"></i></a>
                                <ul class="dropdown-menu">
                                    <share-buttons [theme]="'MODERN-DARK'"
                                        [include]="['facebook','twitter','linkedin','whatsapp','email','copy']"
                                        [show]="6"
                                        [showText]="true"
                                        [url]="'https://online.fliphtml5.com/bsqkp/ccjb/'"
                                        [autoSetMeta]="true"
                                    ></share-buttons>
                                </ul>
                            </div>

                        </div>
                </div>
            </div>
    </div>

    <div class="col mt-1" data-aos="fade-up" data-aos-duration="2700">
        <div class="card col">
            <a href="https://online.fliphtml5.com/bsqkp/ccjb/" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/mag(2).jpg" class="card-img-top lnk" alt="...">
            </a>
                <div class="text-desc-mag d-flex justify-content-center">
                    <div class="d-flex">
                        <div>
                            <a type="button" href="../../../assets/PDFs/THE BULB MAGAZINE 23 MOBILE SINGLE PAGE.pdf" download="THE BULB MAGAZINE 23 MOBILE SINGLE PAGE" ><i class="fa-solid fa-cloud-arrow-down"></i> </a>
                        </div>

                        <div class="dropup">
                            <a type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-share"></i></a>
                            <ul class="dropdown-menu">
                                <share-buttons [theme]="'MODERN-DARK'"
                                    [include]="['facebook','twitter','linkedin','whatsapp','email','copy']"
                                    [show]="6"
                                    [showText]="true"
                                    [url]="'https://online.fliphtml5.com/bsqkp/ccjb/'"
                                    [autoSetMeta]="true"
                                ></share-buttons>
                            </ul>
                        </div>

                    </div>
            </div>
        </div>
</div>
</div>
 <!-- the magazine should open in the same page  -->