<div class="container-fluid mt-2 ">
    <div class="row row-left mag">

        <div class="col-sm col-md-6 col-lg-3 mt-1">
                <div class="card col">
                     
                    <img src="../../../assets/images/img-2.jpg" class="card-img-top" alt="...">

                    <div class="overlay">
                        <div class="text-desc-mag align-middle">
                            <div class="position-absolute bottom-1 start-50 translate-middle-x d-flex">
                                <a href="" > <i class="fa-solid fa-cloud-arrow-down"></i> </a>
                                <a href=""> <i class="fa-solid fa-share"></i> </a>                                
                            </div>
                        </div>

                    </div>
                </div>
                <div class="link-title-mag">
                    <h5>January Edition</h5>
                </div>
        </div>


    </div>
</div>
