<div class="carousel">
    <div class="carousel-inner branding">
        <img src="../../../assets/images/brand.webp" alt="Bulb branding image" srcset="">
        <div class="overlay"></div>
    </div>

    <div class="position-absolute top-50 start-50 translate-middle slidertxtmag">
        <h1>
            Digital Branding
        </h1>
    </div>

    <div class="bslogo position-absolute bottom-0 end-0">
        <img class="BGimg" src="../../../assets/logos/Asset 3.png" alt="" srcset="" >
    </div>
</div>