<div class="container-fluid text-center cat-main">
    <h2 class="primary">Event images</h2>
        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
            
            <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"
              data-src="https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1406&q=80">
              <img class="img-responsive displays g-2 justify-content-center"
                src="https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
            </a>

            <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item" data-src="../../../assets/images/img-1.jpg">
                <img class="img-responsive displays g-2 justify-content-center" src="../../../assets/images/img-1.jpg" />
            </a>
            <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item" data-src="../../../assets/images/img-1.jpg">
                <img class="img-responsive displays g-2 justify-content-center" src="../../../assets/images/img-1.jpg" />
            </a>
            <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item" data-src="../../../assets/images/img-1.jpg">
                <img class="img-responsive displays g-2 justify-content-center" src="../../../assets/images/img-1.jpg" />
            </a>
            <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item" data-src="../../../assets/images/img-1.jpg">
                <img class="img-responsive displays g-2 justify-content-center" src="../../../assets/images/img-1.jpg" />
            </a>
            <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item" data-src="../../../assets/images/img-1.jpg">
                <img class="img-responsive displays g-2 justify-content-center" src="../../../assets/images/img-1.jpg" />
            </a>
        </lightgallery>
</div>