// imported fonts
@font-face {
    font-family: "InterR";
    src: local("Inter"), url(./assets/fonts/static/Inter-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "InterBL";
    src: local("Inter"), url(./assets/fonts/static/Inter-Black.ttf) format("truetype");
}
@font-face {
    font-family: "InterBo";
    src: local("Inter"), url(./assets/fonts/static/Inter-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "InterEb";
    src: local("Inter"), url(./assets/fonts/static/Inter-ExtraBold.ttf) format("truetype");
}
@font-face {
    font-family: "InterM";
    src: local("Inter"), url(./assets/fonts/static/Inter-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "InterL";
    src: local("Inter"), url(./assets/fonts/static/Inter-Light.ttf) format("truetype");
}
@font-face {
    font-family: "InterSb";
    src: local("Inter"), url(./assets/fonts/static/Inter-SemiBold.ttf) format("truetype");
}
/* Start of global variables */

// bootstrap componets
$primary : #2A3181;
$secondary : #00BAF2;
$dark : #E6E6E6;
$greyShadeDark : #757575;
$fontColor : #111111;

$gradient : linear-gradient(266.12deg, #00BAF2 19.83%, #2B09DE 57.41%, #00BAF2 111.21%);
$border-style:                none;
$border-color:                none;
$border-radius:    7px;
$border-radius-sm:.0rem ;
$border-radius-lg:.0rem ;
$border-radius-xl:0rem ;
$border-radius-2xl:0rem ;
$border-radius-pill:50rem;
$border-width: 0rem;
$btn-border-width:.0rem ;
$btn-link-hover-color: $dark !default;

$position-values: (
  0: 0,
  2:1%,
  50: 50%,
  100: 100%
) !default;

$navbar-dark-color: white;
$navbar-dark-toggler-border-color:  0rem;
$navbar-toggler-border-radius:   0rem;
$navbar-toggler-focus-width:     0rem;

$navbar-dark-color: $dark;
$navbar-dark-hover-color: $secondary;

$carousel-indicator-width:           10px !default;
$carousel-indicator-height:          10px !default;
$carousel-indicator-active-bg:  $secondary;
$carousel-indicator-opacity: .7;


$card-spacer-y: 1px;
$card-spacer-x: 1px;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/buttons";
// bootstrap componets

$primary : #2A3181;
$secondary : #00BAF2;
$greyShadeLight : #E6E6E6;
$greyShadeDark : #757575;
$fontColor : #111111;

$gradient : linear-gradient(266.12deg, #00BAF2 19.83%, #2B09DE 57.41%, #00BAF2 111.21%);

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$regular : InterR;
$black :InterBL;
$bold :InterBo;
$extraBold :InterEb;
$light :InterL;
$medium :InterM;
$semiBold :InterSb;
/* End of global variables */


body{
    font-family: $regular;
    font-size: 14px;
    background-image:url(../../bulb_interactive/src/assets/svgs/bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}
.btnEdit{
    width: 180px;
    border-radius: 84px;
    color: white;
    font-size: 14px;
}
.btnEdit:hover{
    color: white;
}

// ==============Slider=======================//  

// magazine slider>>>>>>>>>>>>>>>>>>>>>>>>>>
.carousel-inner-mag{
    height: 300px;
}
.carousel-item-mag{
    height: 300px;
    img{
        height: 300px;
        object-fit: cover;
    } 
}
.bslogo-mag {
    position: absolute;
    top: 86%;
    padding: 10px;
    right: 0px;
    float: right;
    img{
        width: 165.88px;
        height: 37px;
        object-fit: contain;
    }   
  }
  .slidertxtmag{
    color: white;
    font-family: $black;
    padding: 5px;
    width: fit-content;
  }
// magazine slider>>>>>>>>>>>>>>>>>>>>>>>>>
//video slider>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.video-slider{
    height: 500px;
    object-fit: cover;
}
.bslogo-vid{
    position: absolute;
    top: 89%;
    padding: 10px;
    right: 0px;
    float: right;
    img{
        width: 165.88px;
        height: 37px;
        object-fit: contain;
    }  
}

//video slider>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//video carousel section 2-----------------

.featured-carousel h3,
.featured-carousel p, .featured-carousel h2 {
  text-align: center;
  color: $primary;
  font-family: $bold;
  font-size: 1.2rem;
  margin-top: 20px;
}

.featured-carousel .tile {
    position: relative;
    display: inline-block;
    width: 420px;
    height: 250px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }
  .featured-carousel .tile__img {
    width: 420px;
    height: 250px;
    object-fit: cover;
  }
//video carousel the other css affecting 
//video slider can be found in their idividual componets.css

// home and main sliders >>>>>>>>>>>>>>>>>>
.slide{
    top: -4px;
}

.indicators{
    border-radius: 50%;
}

.logo{
    height: 50px;
    padding: 5px;
    object-fit: contain;
}

.bslogo {
    position: absolute;
    top: 93%;
    padding: 10px;
    right: 0px;
    float: right;
    img{
        width: 165.88px;
        height: 37px;
        object-fit: contain;
    }   
  }
.slidertxt{
        color: white;
        font-family: $black;
        margin: 5px;
        padding: 5px;
        width: 35.9rem;
    .sliderbtn{
        font-family: $regular;
        width: 180px;
        border-radius: 84px;
        color: white;
        font-size: 14px;
        }
      }
// home and main sliders >>>>>>>>>>>>>>>>>>
//*****************************************
// ==============End of Slider=======================//  
// ==============home links,Editions, ==============//
.card{
    font-family: $bold;
    .card-img-top{
        height: 19.42rem;
        object-fit: cover;
        border-radius: $border-radius;
    }
    .overlay{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0.73deg, #2B09DE -13.92%, rgba(0, 186, 242, 0) 106.97%);
        opacity: 0.5;
    }
    .overlay:hover{
        opacity: 1;
        transition-duration: 0.2s;
        transition-delay: 0.3s;
        transition-timing-function: ease-in-out;
        .text-desc{
            display: block;
        }
        .text-desc-mag{
            display: block;
        }
    }
    
    .text-desc{
        display: none;
        margin: 5px;
        padding: 10px;
        font-family: $regular;
        font-size: 0.75rem;
        color: white;
        position: absolute;
        bottom: 30px;
        text-align: center;
    }
} 
.link-title{
    text-align: center;
    width: 100%;
    font-size: 1rem;
    color: white;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.row-left{
    width: 95%;
    position: relative;
    left: 5%;
    margin-bottom: 60px;
}
//editions>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.mag{
    margin-top: 80px;
    margin-bottom: 80px;
}
.link-title-mag{
    text-align: center;
    width: 100%;
    font-size: 1rem;
    color: $primary;
    margin-top: 4px;
    z-index: 1;
    font-family: $bold;
}
.text-desc-mag{
    display: none;
    width: 100%;
    font-family: $regular;
    font-size: 0.75rem;
    a{
        background-color: #00BAF2;
        margin: 3px;
        border-radius:50%;
        height: 40px;
        width: 40px;
        font-size: 1.25rem;
        text-align: center;
        text-decoration: none;
        color: white;
        line-height: 2;
    }
    div{
        bottom: 10px;
    }
}

.socials{
    top: 30px;
    left: 15px;
    z-index: 1;
    img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
}

// ===============Home links,Editions, =====================//
.cat-main{
    margin-bottom: 40px;
    h2{
        text-align: center;
        color: $primary;
        font-family: $bold;
        font-size: 1.2rem;
        margin-top: 20px;
    }
}
.category{
    margin: auto;
    .cat{
        margin: 3px;
        color: white;
        background-color: $primary;
        border-radius: 10px;
        cursor: pointer;
    }
    .cat:hover{
        opacity: .95;
    }
}

.story-title{
    width: 100%;
    text-align: center;
    color: $primary;
    font-family: $bold;
    font-size: 1.2rem;
    margin-top: 20px;
}
.story{
    margin: 20px;
    font-size: 1rem;
    div{
        margin: 20px;
        width: 600px;
        height: 300px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align:top;
    }
    p{
        margin: 20px;
        padding-left: 40px;
    }
}


.speaker-title{
    width: 100%;
    text-align: center;
    color: $primary;
    font-family: $bold;
    font-size: 1.7rem;
    margin-top: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.speaker{
    width: 181.08px;
    margin-left: 20px;
    margin-right: 20px;
    img{
        width: 181.08px;
        height: 246.54px;
        object-fit: cover;
        border-radius: 200px;
    }
    h6{
        width: 100%;
        text-align: center;
        color: $primary;
        font-family: $bold;
        font-size: 1.2rem;
        margin-top: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

// ===============Footer =========================//
    .footerbg{
        background-color: $greyShadeLight;
    }
    footer{
        font-family: $bold;
        .footer{
            width: 80%;
            margin: auto;
        }
        .footer-title{
            color: $primary;

        }
        p{
            font-family: $regular;
            font-size: 10px;
        }
        .adjusttitle{
            vertical-align: bottom;
        }
        a{
            text-decoration: none;
            color: #111111;
        }
        .headingfooter{
            display: flex;
            align-items: flex-end;
            height: 80px;
        }
        .footerlogo{
            height: 70px;
            object-fit: contain;
        }
        .footerres{
            margin-top: 10px;
        }
        .copyright{
            font-family: $regular;
        }
    }
    .row-1{
        background-color:$primary !important;
    }
    
    .row-2{
        background-color:$greyShadeLight !important;
        
    }
// ===============End Footer===========================//


//====================== Responsiveness ===================================//
// ===================== Mobile phone ====================================//


    @media only screen and (max-width: 750px) {
        .logo{
            height: 30px;
            object-fit: contain;
        }
        .slide{
            height: 700px;
            .slidertxt{
                color: white;
                font-family: $black;
                margin: auto;
                padding: 5px;
                width: 90%;
                text-align: center;
              }
            .sliderbtn{
                
                margin: auto;
                }
    
        }
        .carousel-inner{
            height: 700px;
        }
        .carousel-item{
            height: 700px;
            .video-slider{
                height: 700px;
                object-fit: cover;
            }
             img{
                height: 700px;
                object-fit: cover;
            } 
            .bslogo {
                position: absolute;
                top: 93%;
                padding: 10px;
                right: 0px;
                float: right;
                img{
                    width: 60px;
                    height: 10.82;
                    object-fit: contain;
                }   
              }
        }
       .hideitems{
          display: none;
        }
        .headingfooter{
            display: flex;
            align-items: flex-end;
            height:40px;
        }
        .footerres{
            margin-top: 10px;
        }
        body{
            font-size: 70%;
        }
        .indicators{
            border-radius: 50%;
        }
        .row-left{
            width: 95%;
            margin-bottom: 20px;
        }


        .socials{
            top: 10px;
            left: 3px;
            img{
                height: 30px;
                width: 30px;
            }
        }

        .featured-carousel .tile {
            width: 320px;
            height: 180px;
          }
          .featured-carousel .tile__img {
            width: 320px;
            height: 180px;
          }
          .story {
            margin: 0px;
            div{
                width: 290px;
            }
             p{
            padding-left: 0px;
          }
          }
         

      }

//====================== Responsiveness===================================//
// ********************* End Mobile phone *******************************//
@media only screen and (max-width: 900px) {
    .bslogo {
        position: absolute;
        top: 90%;
        padding: 10px;
        right: 0px;
        float: right;
        img{
            width: 140px;
            object-fit: contain;
        }   
      }
      .row-left{
        width: 95%;
        margin-bottom: 20px;
    }
   }