<div class="container-fluid pb-0 mb-0 my-2 justify-content-center">
    <footer >

       <div class="row justify-content-center mb-0 pt-3 pb-0 row-2 px-2">
           <div class="col-12">
                <div class="row row-2">
                    <div class="col-sm-3 text-md-center">
                        <div class="row">
                            <div >
                                <img src="../../../assets/logos/Mask group.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3  my-sm-0 mt-5">
                        <h5 class="footer-title">Address</h5>

                        <ul class="list-unstyled">
                            <li class="mt-0">Platform</li>
                            <li>Help Center</li>
                            <li>Security</li>
                        </ul>
                    </div>

                    <div class="col-sm-3  my-sm-0 mt-5">
                        <h5 class="footer-title">Address</h5>

                        <ul class="list-unstyled">
                            <li class="mt-0">Platform</li>
                            <li>Help Center</li>
                            <li>Security</li>
                        </ul>
                    </div>

                    <div class="col-sm-3  my-sm-0 mt-5">
                        <h5 class="footer-title">Address</h5>

                        <ul class="list-unstyled">
                            <li class="mt-0">Platform</li>
                            <li>Help Center</li>
                            <li>Security</li>
                        </ul>
                    </div>

                </div>  
           </div>
       </div>

       <div class="row justify-content-center row-1">
            <div class="col-12 text-light">
                <div class="row my-2 row-1">
                    <div class="col-md-4 col-auto "></div>
                    <div class="col-sm-4 col-auto text-center"><small>&#9400; Stride Softwere</small></div>
                    <div class="col-md-4 col-auto"></div>
                </div>
            </div>
        </div>
    </footer>
</div>