<div class="container-fluid pb-0 mb-0 justify-content-center footerbg" data-aos="fade-in" data-aos-duration="3000">
    <footer>
        <a href="https://api.whatsapp.com/send?phone=910000000000&text=Hello this is the starting message" target="_blank" rel="noopener noreferrer">
            <div class="col position-fixed end-2 whatsapp">
                <img src="../../../assets/svgs/social1.png" alt="">
            </div>
        </a>
       <div class="row-2 footer row justify-content-center">
                <div class="hideitems position-absolute">
                    <img src="../../../assets/logos/Mask group.png" alt="">
                </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                        <div class="col-12">
                            <h6 class="footer-title adjusttitle">BULB INTERACTION</h6>
                        </div>
                        <div class="col-12">
                            <p class="text-start">
                                    Using our ex tensive capability in technology and applications,
                                    we develop customized services that serve our diverse client 
                                    base with complex communication needs. Our growth strategy
                                    includes initiatives related to ongoing new service in productions,
                                    geographic market expansion , broadening our customer base and
                                    targeting strategic business to business relationships
                                    that add company value
                            </p>
                        </div>
                </div>

                <div class="col d-flex">
                    <div class="col col-sm-6">
                        <div class="col-12">
                            <h6 class="footer-title">QUICK LINKS</h6>
                        </div>
                        <div class="col-12 pb-2">
                            <a href="">Upcoming Events</a>
                        </div>
                        <div class="col-12 pb-2">
                            <a href="">Bulb Magazine</a>
                        </div>
                        <div class="col-12 pb-2">
                            <a href="">Video Gallery</a>
                        </div>
                    </div>
    
                    <div class="col col-sm-6">
                        <div class="col">
                            <h6 class="footer-title">CONTACT</h6>
                        </div>
                        <div class="col">
                            <p>Sameer Business Park BC3,<br>
                                Msa Rd, Nairobi. <br>
                                P.O Box 50198 -00100
                            </p>
                        </div>
                        <div class="col">
                            <a href="tel:0738 000 006">0738 000 006</a>
                        </div>
                        <div class="col-12">
                            <a href="tel:0722 375 340">0722 375 340</a>
                        </div>
                        <div class="col-12">
                            <a href="mail:">0722 375 340</a>
                        </div>
                    </div>
                </div>

                <div class="col col-sm-12 col-md-12">
                    <div class="col-12">
                        <h6 class="footer-title loc">MAP LOCATION</h6>
                    </div>                       
                    
                    <div class="col-sm-12 col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7434192695223!2d36.864001714538446!3d-1.3300104990299533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11f5e762e717%3A0xeabb157f677a0085!2sSameer%20Business%20Park!5e0!3m2!1sen!2ske!4v1676888922038!5m2!1sen!2ske" width="300" height="160" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div>  
        </div>

       <div class="row row-1 justify-content-center copyright">
            <div class="col-12 text-light row m-2">
                <div class="col-auto text-center m-auto"><small>&#9400;Copyright Bulb Interactive 2023</small></div>
            </div>
        </div>
    </footer>
</div>