<a href="https://api.whatsapp.com/send?phone=+254738 000 006&text=Hello and welcome to Bulb Interactive! We're thrilled to have you here with us. As a company that prides itself on creating innovative and engaging interactive experiences, we're excited to share our passion with you. Whether you're a gamer, a developer, or simply someone who loves technology, we have something for you. So sit back, relax, and get ready to dive into the world of Bulb Interactive. Let's make some amazing things together!" target="_blank" rel="noopener noreferrer">
    <div class="col position-fixed end-2 whatsapp">
       <img loading="lazy"  src="../../../assets/svgs/social1.png" alt="">
    </div>
</a>
<div class="container-fluid pb-0 mb-0 justify-content-center footerbg">
    <footer>
       <div class="row-2 footer row justify-content-center">
                <!-- <div class="hideitems position-absolute">
                   <img loading="lazy"  src="../../../assets/logos/Asset 1.png" alt="">
                </div> -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                        <div class="col-12">
                            <h6 class="footer-title adjusttitle">BULB INTERACTIVE GROUP</h6>
                        </div>
                        <div class="col-12">
                            <p class="text-start">
                                Bulb Interactive Group is a Premier Business Networking Events 
                                Company that specializes in creating Dynamic and Engaging experience 
                                for professionals in all industries to meet their Target Market, Network, 
                                Sell and Promote their business
                            </p>
                        </div>
                        <div class="col-12">
                            <h6 class="footer-title">Our Socials</h6>
                        </div>
                        <div class="col-12 d-flex mb-3 footer-socials">
                            <div class="p-1">
                                <a href="https://www.instagram.com/bulb.group/" target="_blank">
                                   <img loading="lazy"  src="../../../assets/svgs/instagram.png" alt="link to instagram">
                                </a>
                            </div>
                            <div class="p-1">
                                <a href="https://youtube.com/@BulbBusinessTv" target="_blank">
                                   <img loading="lazy"  src="../../../assets/svgs/youtube.png" alt="Bulb bussiness youtube TV">
                                </a>
                            </div>
                            <div class="p-1">
                                <a href="https://web.facebook.com/bulbinteractive?_rdc=5&_rdr" target="_blank">
                                   <img loading="lazy"  src="../../../assets/svgs/facebook.png" alt="icon to facebook">
                                </a>
                            </div>
                            <div class="p-1">
                                <a href="https://twitter.com/BulbInteractive" target="_blank">
                                   <img loading="lazy"  src="../../../assets/svgs/twitter.png" alt="Link to twitter">
                                </a>
                            </div>
                            <div class="p-1">
                                <a href="https://twitter.com/BulbInteractive" target="_blank">
                                   <img loading="lazy"  src="../../../assets/svgs/linkedin.png" alt="Link to linkedin">
                                </a>
                            </div>
                            <div class="p-1">
                                <a href="https://twitter.com/BulbInteractive" target="_blank">
                                   <img loading="lazy"  loading="lazy" src="../../../assets/svgs/tiktok.png" alt="Link to Tiktok">
                                </a>
                            </div>
                        </div>
                </div>

                <div class="col d-flex">
                    <div class="col col-sm-6">
                        <div class="col">
                            <h6 class="footer-title">QUICK LINKS</h6>
                        </div>
                        <div class="col pb-2">
                            <a routerLink="/events">Upcoming Events</a>
                        </div>
                        <div class="col pb-2">
                            <a routerLink="/magazine">Bulb Magazine</a>
                        </div>
                        <div class="col pb-2">
                            <a routerLink="/videos">Video Gallery</a>
                        </div>
                        <div class="col pb-2">
                            <a routerLink="/eventcalender">Events Calender</a>
                        </div>
                    </div>
    
                    <div class="col col-sm-6">
                        <div class="col">
                            <h6 class="footer-title">CONTACT</h6>
                        </div>
                        <div class="col">
                            <!-- change to ihti -->
                            <p>
                                Studio House, <br>
                                Marcus Garvey Rd,<br>
                                Nairobi, Kenya <br>
                                P.O.Box 50198-00100
                            </p>
                        </div>
                        <div class="col">
                            <a href="tel:+254738 000 006">+254 738 000 006</a>
                        </div>
                        <div class="col-12">
                            <a href="mailto:events@bulb.co.ke">events@bulb.co.ke</a>
                        </div>
                    </div>
                </div>

                <div class="col pos-map">
                    <div class="col-12">
                        <h6 class="footer-title loc">MAP LOCATION</h6>
                    </div>                       
                    
                    <div class="col-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.207781640232!2d36.7911808!3d-1.293294!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10a31f3ba843%3A0x7e1120039d8b14b0!2sStudio%20House!5e0!3m2!1sen!2ske!4v1696418543845!5m2!1sen!2ske" width="100%" height="160" style="border:0;" allowfullscreen="" loading="lazy" name="Bulb offices" referrerpolicy="no-referrer-when-downgrade"></iframe>                    
                    </div>
                </div>

            </div>  
        </div>

       <div class="row row-1 justify-content-center copyright">
            <div class="col-auto text-center text-light m-auto mt-3 mb-3">
                <small>&#9400;Copyright Bulb Interactive Group 2023</small>
            </div>
        </div>
    </footer>
</div>