<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container-fluid">

        <a routerLink="/">
            <img src="../../../assets/logos/Asset 2.png" alt="" class="d-inline-block align-text-top logo">
        </a>
<!-- Toggle button -->
      <button class="navbar-toggler active" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<!-- Toggle button -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-lg-0 ">

          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  routerLink="/magazine" >Bulb Magazine</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  routerLink="/videos" >Video Gallery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  routerLink="/events" >Events</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  routerLink="/branding" >Digital Branding</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Donate</a>
          </li>


        </ul>

        <div>
            <button type="link" class="btn btn-secondary btnEdit shadow">Register Now <i class="fa-solid fa-clipboard-user"></i> </button>
        </div>

      </div>

    </div>
  </nav>
  <!-- End of navbar -->