<!-- Nav Bar -->
<div class="nav_logo">
  <div class="shadow">
    <a routerLink="/">
      <img src="../../../assets/logos/Asset 2.png" alt="" class="d-inline-block">
    </a>
  </div>
</div>

<nav class="myNavbar sticky-top transparent" [class.transparent]="!isScrolled" [class.scrolled]="isScrolled">
      <div class="navdiv" id="navdiv" (click)="hideNavbar()">
          <!--Close Navbar icons -->
          <div class="icon close" (click)="closeNav()">
            <i class="fa-sharp fa-solid fa-xmark"></i>
          </div>

            <ul class="m-auto mb-lg-0 content" >
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/events" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/magazine" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Bulb Magazine</a>
              </li>

              <li class="nav-item">
                <a class="nav-link"  routerLink="/videos" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Bulb TV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/branding" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Personal Branding</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/news" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/listing" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">Listing</a>
              </li>
            </ul>
            <ul>
              <li class="nav-item">
                  <div>
                    <button type="link" class="btn btn-secondary btnEdit shadow" data-bs-toggle="modal" data-bs-target="#paymentModal">Buy Ticket<i class="fa-solid fa-clipboard-user" style='margin-left:14px;'></i> </button>
                  </div>
              </li>
            </ul>
      </div>

        <!--open Navbar icons -->
        <div class="icon" (click)="openNav()">
          <i class="fa-solid fa-bars"></i>
        </div>
</nav>


  <div class="modal fade" id="paymentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-2">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Register for an event 📅</h1>
          <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="col">
          <img src="../../../assets/images/mpesaGif.gif" class="gif" alt="Payments banner">
        </div>
        <div class="modal-body">

          <form (ngSubmit)="onSubmit()">

            <div class="mb-3">
              <label for="input1" class="form-label">Tickets</label>
              <div class="d-flex">
                <input style="width: 50%;" type="number" min="1" [(ngModel)]="amount" name="amount" placeholder="1" required class="form-control" id="input1" aria-describedby="input1">
                <div class="p-2 amount">Total: {{disp}}/-</div> 
              </div>
              <div id="input1" class="form-text">Please note enter amount only once</div>
            </div>

            <div class="mb-3">
              <label for="input2" class="form-label">Enter Phone Number</label>
              <input type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" required class="form-control" placeholder="0720-200 200" id="input2">
              <div id="input2" class="form-text"> </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary btnEdit shadow">Make Payments</button>
            </div>

          </form>
        </div>        
      </div>
    </div>
  </div>




  <div class="modal modal-xl" id="magazine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <div>
            <img src="../../../assets/images/construct.png" alt="" style="width: 600px;height: fit-content;object-fit: contain;">
            <p>
              🚧 Our website is currently under construction. 🚧 <br>
              We're working hard to bring you a new and improved experience. In the meantime, <br>
              you can click the button below to learn more about our company and what we have to offer. <br>
              <a type="button" href="https://online.fliphtml5.com/bsqkp/ccjb/" class="btn btn-secondary btnEdit" target="_blank" rel="noopener noreferrer">[Learn More]</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- nav bar to pop from the side
  fix logo slider
  romove some logos and a partners logos -->
  <!-- End of navbar -->

