<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top transparent" [class.transparent]="!isScrolled" [class.scrolled]="isScrolled">
    <div class="container-fluid">

        <a routerLink="/">
            <img src="../../../assets/logos/Asset 2.png" alt="" class="d-inline-block align-text-top logo">
        </a>
<!-- Toggle button -->
      <button class="navbar-toggler active" data-bs-toggle="collapse" data-bs-target="#navbartoggle" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="ico"></span>
      </button>
<!-- Toggle button -->

      <div class="collapse navbar-collapse" (click)="hideNavbar()" id="navbartoggle">
        <ul class="navbar-nav m-auto mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/events" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/magazine" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Bulb Magazine</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  routerLink="/videos" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Bulb TV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/branding" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Personal Digital Branding</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Bulb Awards</a>
          </li>
        </ul>
        <app-ticket></app-ticket>
      </div>

    </div>
  </nav>


  <div class="modal fade" id="paymentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-2">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Register for an event 📅</h1>
          <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="card col">
          <img src="../../../assets/images/mpesa.webp" class="card-img-top" alt="Event banner">
        </div>
        <div class="modal-body">

          <form (ngSubmit)="onSubmit()">

            <div class="mb-3">
              <label for="input1" class="form-label">Enter Amount</label>
              <input type="number" [(ngModel)]="amount" name="amount" required class="form-control" id="input1" aria-describedby="input1">
              <div id="input1" class="form-text">Please note enter amount only once</div>
            </div>

            <div class="mb-3">
              <label for="input2" class="form-label">Enter Phone Number</label>
              <input type="number" [(ngModel)]="phoneNumber" name="phoneNumber" required class="form-control" id="input2" aria-describedby="input2">
              <div id="input2" class="form-text"> </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Make Payments</button>
            </div>

          </form>
        </div>        
      </div>
    </div>
  </div>
  
  <!-- nav bar to pop from the side
  fix logo slider
  romove some logos and a partners logos -->
  <!-- End of navbar -->

